html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #65c034;
  --secondary-color: #1c3434;
  --bg-color-1: #f4f1ea;
  --bg-color-2: #eeeadf;
  --text-color: #fff;
}

[data-theme="dark"] {
  --primary-color: #498D01;
  --secondary-color: #162a2a;
  --bg-color-1: #231e12;
  --bg-color-2: #272215;
  --text-color: #fff;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Axiforma", sans-serif;
  overflow-x: hidden;
  background-color: var(--bg-color-1);
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
}


header {
  padding-top: 1rem;
  width: 100%;
  max-width: 1115px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--primary-color);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
  background: var(--primary-color);
}

nav ul li:last-child {
  align-items: center;
  border: 1px #000 solid;
  border-radius: 2.5rem;
  padding: 10px;
}

nav ul li:last-child:hover {
  border: 1px var(--primary-color) solid;
  background: #fff;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li:last-child a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

nav ul li:last-child a:hover::after {
  width: 0;
  left: 0;
}

/* Button Styles */
#theme-toggle {
  background-color: #65c034; /* Primary color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

#theme-toggle:hover {
  background-color: #498D01; /* Darker shade on hover */
}

.hero {
  background: var(--secondary-color);
  max-width: calc(1115px - 4rem);
  margin: 0 auto;
  display: flex;
  color: #fff;
  border-radius: 20px;
  position: relative;
  flex-direction: column;
  height: 500px;
  padding-left: 4rem;
  margin-top: 50px;
}

.hero .woman {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 4rem;
}

.hero .woman img {
  top: -56.3px;
  left: 627.11px;
  border-radius: 11.11px;
  margin-bottom: -50px;
}

.hero h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
  margin-top: 100px;
}

.hero-btn {
  width: 137px;
  height: 42px;
  border: none;
  border-radius: 1rem;
  background-color: #9cfe68;
}

span {
  display: block;
}

