html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  background: #F4F1EA;
  transition: 0.3s;
}

:root {
  --primary-color: #65c034;
  --background-color-1: #F4F1EA;
  --background-color-2: #EEEADF;
}

header {
  padding-top: 1rem;
  width: 100%;
  max-width: 1115px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

nav ul {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--primary-color);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
  background: var(--primary-color);
}

nav ul li:last-child {
  align-items: center;
  border: 1px #000 solid;
  border-radius: 2.5rem;
  padding: 10px;
}

nav ul li:last-child:hover {
  border: 1px var(--primary-color) solid;
  background: #fff;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li:last-child a:hover {
  color: var(--primary-color);
  transition: 0.3s;
}

nav ul li:last-child a:hover::after {
  width: 0;
  left: 0;
}